* {
  text-align: center;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html {
  --bg-color: #EFF6FF; /*blue-50*/
  --title-color: #1E40AF; /*blue-800*/
  --paragraph-color: #1E3A8A; /*blue-900*/
  --primary-color: #1D4ED8; /*blue-700*/
  --primary-color-dark: #172554; /*blue-950*/
  --primary-color-light: #3B82F6; /*blue-500*/
}

body {
  background: var(--bg-color);
  color: var(--paragraph-color);
  font-family: 'Roboto', sans-serif;
}

img {
  border: var(--primary-color) 4px solid;
  padding: 3px;
  border-radius: 100%;
  max-width: 100px;
  margin-top: 48px;
}

h1 {
  font-size: 32px;
  margin-top: 16px;
  color: var(--title-color);
}

.username {
  margin-bottom: 8px;
  font-family: 'Roboto Mono', monospace;
  opacity: 0.7;
  font-size: 18px;
  font-weight: 400;
}

.container > div p {
  font-weight: 500;
}

.container > div > p + p {
  margin-bottom: 24px;
}


 ul {
  list-style:none;
  padding-left:0;
  margin-bottom: 16px;
}

.social > a {
  /* posição */
  margin: 8px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* forma */
  background: var(--primary-color);
  border-radius: 8px;
  max-width: 300px;
  height: 56px;

  /* fonte */
  list-style: none;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;

  /* transição */     
  transition:background 400ms;
}

.social > a:hover {
  background-color: var(--primary-color-light);
}

.social > a:active {
 background-color: var(--primary-color-dark);
}

footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.7;

  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  text-decoration: none;
  color: var(--paragraph-color);
}
